COMPILER = arm-none-eabi
CC = $(COMPILER)-gcc
LD = $(COMPILER)-ld

ARCH = arm
VERSION = v7-a

CFLAGS = -c -Wall -fomit-frame-pointer -nostdlib
ELF_FLAGS += -fno-common -fno-builtin -ffreestanding -nostdinc -fno-strict-aliasing
ELF_FLAGS += -mno-thumb-interwork -fno-stack-protector -fno-toplevel-reorder
ELF_FLAGS += -Wno-format-nonliteral -Wno-format-security

CFLAGS += $(ELF_FLAGS)